<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar</title>
</head>
<body>
    <h1>editar</h1>
    <form action="{{ url_form('editar',id=contacto.id) }}"method="POST">

        Nombre: <input type="text" name="nombre" value="{{contacto['nombre']}}" required>
        Correo Electronico: <input type="text" name="correo" value="{{contacto['correo']}}" required>
        Celular: <input type="text" name="celular" value="{{contacto['celular']}}" required>
        <input type="submit">
    </form>
</body>
</html>